#copa {
  width:100px;
}
#copa img {
background-color: rgb(0,0,0);
display: block;
position: absolute;
left:500px;
width: 90px;
height: 90px;
}

#copa p {
display: block;
position: absolute;
font-size: 20px;
top: 20px;
left: 540px;
width: 15px;
font-weight: bold;
}
