#table {
  width: 400px;
  height: 300px;
  text-align:center;
  vertical-align:middle;
  font-size: 12px;

}

.bodyTable td {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

}
.headerTable th {
    background-color: white;
    color: black;
    text-align:center;

}
.bodyTable tr {
	height: 30px;

}

.bodyTable tr:hover {
	background-color:#90EE90;
}

/* .headerTable th:hover {
	background-color:grey;
} */

.scroll {
	overflow: auto;
}

/* .headerTable th:hover {
	background-color:grey;
} */
